
   <div class="JumbotonBox">
     <h1 class="titulo-topo">Área do Administrador</h1>
    <img class="imagemTopo"  src="/imagens/conteudos/admin/admImage.jpg" alt="" />

    <p class="textp">Este é uma área de acesso exclusivo à administradores do site.</p>
    
    <p class="textp2">Bem vindo a área de Administração do site.Esta área é reservada para manipulação do site, onde voce poderá administrar conteúdos e gerenciar pedidos, serviços,solicitações, orçamento, etc. Nesta Seçção voce conseguirá: Adicionar, atualizar, deletar, gerenciar e listar Serviços e pedidos.</p>

  
  </div>
  </div>
