 <footer>
      <div class="conteudo">
        <img src="/imagens/headerFooter/logoRodape.png" alt="Logo de tecnologia em nuvens" class="logotipoPequeno" />
        <h4>&copy; Future 4 Tech</h4>
        <a href="/politicas.html" class="leiFooter">Termos e Políticas</a>
        <div class="redeSocial2">
          <a href=""><img src="/imagens/headerFooter/linkedin.png" alt="linkedin" /></a>
          <a href=""><img src="/imagens/headerFooter/whatsup.png" alt="Whats up" /></a>
          <a href=""><img src="/imagens/headerFooter/instangran.png" alt="Instangran" /></a>
        </div>
      </div>
    </footer>