{{>_adm-navigator}}
<div class="jumbotron config-Jumbotron">
  <h1 class="display-4">Bem vindo ao Acesso do Administrador</h1>
  <p class="lead">Este é um acesso exclusivo aos Administradores.</p>
  <hr class="my-4">
  <p>Nesta Seçção voce conseguirá, incluir, atualizar , deletar e visualizar todoso os post.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais.</a>
  </p>
</div>
<hr>